<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Administración - Vino Nuevo - Gestión de {{ title }}</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap" rel="stylesheet"/>
    <link rel="icon" href="{{ url_for('static', filename='logo2.webp') }}" type="image/webp">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin/layout_form.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin/form.css')}}">
    {% block custom_styles %}{% endblock %}

</head>
<body>
    
    {% include 'sidebar_mobile.html' %}

    <main class="main-content">
        <div class="crud-container">
            <nav class="breadcrumb">
                <a href="/admin/estructura">Estructura</a>
                <span class="material-symbols-outlined">chevron_right</span>

                {% if request.path == '/admin/' + link %}
                <span class="current">{{ breadcrumb }}</span>
                {% else %}
                <a href="/admin/{{ link }}" class="current">{{ breadcrumb }}</a>
                {% endif %}

                {% if request.path == '/admin/' + link + '/editar' %}
                <span class="material-symbols-outlined">chevron_right</span>
                <span class="current">Editar</span>
                {% endif %}
            </nav>

            {% block content %}

            {% endblock %}
        </div>
    </main>

    {% include 'footbar_mobile.html' %}

</body>
</html>