<div class="barra">
    <a href="/" alt="logo" class="logo"></a>
    <a class="botones" href="/">
        <img class="icono" src="{{ url_for('static', filename='iconos/reportes_enviados.webp') }}" alt="reportes enviados">
        <span class="texto">Reportes enviados</span>
    </a>
    <a class="botones" href="/generar_reporte">
        <img class="icono" src="{{ url_for('static', filename='iconos/generar_reporte.webp') }}" alt="generar reporte">
        <span class="texto">Generar reporte</span> 
    </a>
    <a class="botones" href="/perfil">
        <img class="icono" src="{{ url_for('static', filename='iconos/perfil.webp') }}" alt="perfil">
        <span class="texto">Perfil</span>
    </a>
    <a class="botones" href="/logout">
        <img class="icono" src="{{ url_for('static', filename='iconos/logout.webp') }}" alt="cerrar sesión">
        <span class="texto">Cerrar sesión</span>
    </a>
</div>