<div class="barra">
    <a href="/" alt="logo" class="logo"></a>
    <a class="botones" href="/">
        <img class="icono" src="/static/iconos/reportes enviados.png" alt="reportes enviados">
        <span class="texto">Reportes enviados</span>
    </a>
    <a class="botones" href="/generar_reporte">
        <img class="icono" src="/static/iconos/generar reporte.png" alt="generar reporte">
        <span class="texto">Generar reporte</span> 
    </a>
    <a class="botones" href="/perfil">
        <img class="icono" src="/static/iconos/perfil.png" alt="perfil">
        <span class="texto">Perfil</span>
    </a>
    <a class="botones" href="/logout">
        <img class="icono" src="/static/iconos/logout.png" alt="cerrar sesión">
        <span class="texto">Cerrar sesión</span>
    </a>
</div>