<header>
  <div>
    <a href="/admin/dashboard" class="logo"></a>
  </div>
  
  <div class="link-container">
    <a href="/admin/dashboard" class="botones">
      <span class="texto">Dashboard</span>
    </a>
    <a href="/admin/estructura" class="botones">
      <span class="texto">Estructura</span>
    </a>
    <a href="/admin/usuario" class="botones">
      <span class="texto">Usuarios</span>
    </a>
    <a href="/admin/lider" class="botones">
      <span class="texto">Lideres</span>
    </a>
    <a href="/admin/reportes" class="botones">
      <span class="texto">Reportes</span>
    </a>
    <a href="/admin/perfil" class="botones">
      <span class="texto">Perfil</span>
    </a>
  </div>

  <div class="">
    <a href="/logout" class="botones">
      <img src="/static/iconos/logout.png" alt="Cerrar Sesión" class="icono">
      <span class="texto">Cerrar Sesión</span>
    </a>
  </div>
</header>