<header class="header-nav">
  <div>
    {% if has_role("supervisor") %}
    <a href="{{ url_for('supervisor.dashboard', id=get_usuario_id()) }}" class="logo"></a>
    {% elif has_role("cdp") %}
    <a href="{{ url_for('cdp.dashboard', id=get_usuario_id()) }}" class="logo"></a>
    {% else %}
    <a href="{{ url_for('admin.dashboard', id=get_usuario_id()) }}" class="logo"></a>
    {% endif %}
  </div>
  
  <nav class="link-container">
    {% if has_role("supervisor") %}
    <a href="{{ url_for('supervisor.dashboard', id=get_usuario_id()) }}" class="botones">
      <span class="texto">Dashboard</span>
    </a>
    <a href="{{ url_for('supervisor.estructura', id=get_usuario_id()) }}" class="botones">
      <span class="texto">Estructura</span>
    </a>
    <a href="{{ url_for('supervisor.reportes', id=get_usuario_id()) }}" class="botones">
      <span class="texto">Reportes</span>
    </a>
    <a href="{{ url_for('supervisor.lider', id=get_usuario_id()) }}" class="botones">
      <span class="texto">Lideres</span>
    </a>
    <a href="{{ url_for('supervisor.perfil', id=get_usuario_id()) }}" class="botones">
      <span class="texto">Perfil</span>
    </a>
    {% elif has_role("cdp") %}
    <a href="{{ url_for('cdp.dashboard', id=get_usuario_id()) }}" class="botones">
      <span class="texto">Inicio</span>
    </a>
    <a href="{{ url_for('cdp.generar_reporte', id=get_usuario_id()) }}" class="botones">
      <span class="texto">Generar Reporte</span>
    </a>
    <a href="{{ url_for('cdp.perfil', id=get_usuario_id()) }}" class="botones">
      <span class="texto">Perfil</span>
    </a>
    {% else %}
    <a href="{{ url_for('admin.dashboard', id=get_usuario_id()) }}" class="botones">
      <span class="texto">Dashboard</span>
    </a>
    <a href="{{ url_for('admin.estructura', id=get_usuario_id()) }}" class="botones">
      <span class="texto">Estructura</span>
    </a>
    <a href="{{ url_for('admin.usuario', id=get_usuario_id()) }}" class="botones">
      <span class="texto">Usuarios</span>
    </a>
    <a href="{{ url_for('admin.lider', id=get_usuario_id()) }}" class="botones">
      <span class="texto">Lideres</span>
    </a>
    <a href="{{ url_for('admin.reportes', id=get_usuario_id()) }}" class="botones">
      <span class="texto">Reportes</span>
    </a>
    <a href="{{ url_for('admin.perfil', id=get_usuario_id()) }}" class="botones">
      <span class="texto">Perfil</span>
    </a>
    {% endif %}
  </nav>

  <div class="">
<a href="{{ url_for('auth.logout') }}" class="botones">
      <img src="{{ url_for('static', filename='iconos/logout.webp') }}" alt="Cerrar Sesión" class="icono">
      <span class="texto">Cerrar Sesión</span>
    </a>
  </div>
</header>
